@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@-webkit-keyframes tickerRight {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes tickerRight {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes tickerLeft {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes tickerLeft {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@font-face {
  font-family: "Akkurat";
  src: url(AkkuratItalic.ttf) format("truetype");
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}
main.siteHeader {
  display: block;
  z-index: 10;
}
main.siteHeader .left,
main.siteHeader .top {
  position: fixed;
  top: 0;
  left: 0;
  border-left: 12px solid #efea45;
}
main.siteHeader .top {
  border-top: 12px solid #efea45;
  border-right: 12px solid #efea45;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  z-index: 12;
}
main.siteHeader .top .siteHeader__topItem {
  padding: 5px 0;
  border-top: 4px solid #ff6c2c;
  border-right: 4px solid #ff6c2c;
  border-bottom: 4px solid #ff6c2c;
  border-left: 4px solid #ff6c2c;
  overflow: hidden;
}
main.siteHeader .bottom .siteHeader__bottomItem p,
main.siteHeader .top .siteHeader__topItem p {
  font-family: "Akkurat";
  white-space: nowrap;
  text-align: left;
  -webkit-animation: tickerRight 25s linear infinite;
  animation: tickerRight 25s linear infinite;
  letter-spacing: 1.8px;
  display: block;
  font-size: 20px;
  color: #ff6c2c;
}
main.siteHeader .left {
  width: 46px;
  height: 100vh;
  background-color: #ff6c2c;
  z-index: 10;
}
main.siteHeader .left .siteHeader__leftItem {
  height: 100%;
  box-sizing: border-box;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main.siteHeader .left .siteHeader__leftItem .siteHeader__leftItem__menu {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  box-sizing: border-box;
  margin-top: 20px;
}
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__menu
  button.scroll-to {
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  display: block;
  border: 0;
}
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__menu
  button.scroll-to
  span,
main.siteHeader
  .right
  .siteHeader__rightItem
  .siteHeader__rightItem__order
  span,
main.siteHeader
  .right
  .siteHeader__rightItem
  .siteHeader__rightItem__reservation
  span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #fff;
  font-weight: 600;
  font-family: "Akkurat";
}
main.siteHeader .left .siteHeader__leftItem .siteHeader__leftItem__misc {
  flex-basis: 90%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 4px solid #ff6c2c;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__misc
  .newsletter {
  border-bottom: 4px solid #ff6c2c;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__misc
  .newsletter
  a {
  writing-mode: vertical-rl;
  color: #ff6c2c;
  font-weight: 900;
  font-family: "Akkurat";
  text-decoration: none;
}
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__misc
  .social {
  flex-basis: 12%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.message,
main.siteHeader
  .left
  .siteHeader__leftItem
  .siteHeader__leftItem__misc
  .social
  img {
  cursor: pointer;
}
main.siteHeader .bottom,
main.siteHeader .right {
  position: fixed;
  border-right: 12px solid #efea45;
  z-index: 10;
}
main.siteHeader .right {
  top: 0;
  right: 0;
  height: 100vh;
  width: 46px;
  background-color: #40ac49;
  border-bottom: 4px solid #ff6c2c;
}
main.siteHeader .right .siteHeader__rightItem {
  height: 100%;
  box-sizing: border-box;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid #ff6c2c;
  border-right: 4px solid #ff6c2c;
}
main.siteHeader .right .siteHeader__rightItem .siteHeader__rightItem__order {
  width: 100%;
  border-bottom: 4px solid #ff6c2c;
}
main.siteHeader .right .siteHeader__rightItem .siteHeader__rightItem__order,
main.siteHeader
  .right
  .siteHeader__rightItem
  .siteHeader__rightItem__reservation {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  box-sizing: border-box;
}
main.siteHeader .bottom {
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 12px solid #efea45;
  border-left: 12px solid #efea45;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
main.siteHeader .bottom .siteHeader__bottomItem {
  padding: 5px 0;
  border-top: 4px solid #ff6c2c;
  border-right: 4px solid #ff6c2c;
  border-bottom: 4px solid #ff6c2c;
  border-left: 4px solid #ff6c2c;
  overflow: hidden;
}
main.siteHeader .bottom .siteHeader__bottomItem p {
  -webkit-animation: tickerLeft 25s linear infinite;
  animation: tickerLeft 25s linear infinite;
  font-weight: 600;
}
main.content .photo {
  display: flex;
  justify-content: space-around;
}
main.content .photo #left,
main.content .photo #right {
  width: 50%;
  height: 100%;
  z-index: -1;
}
main.content .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
main.content .logo .logoItem {
  align-self: center;
}
main.content .logo .logoItem img {
  width: 430px;
  transition: opacity 0.6s ease;
  position: relative;
  overflow: hidden;
}
div.message {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 15;
}
div.message img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
div.message img:hover {
  opacity: 0.5;
}
